<html>
<body>
	<sidenav id="main_nav" navigation_data="src/nav/main_nav.json">
		<header>
			<main_nav_banner></main_nav_banner>
		</header>
	</sidenav>

	<main class="ls_sidenav_neighbor">
		<article style="margin-top: 4em;">
			<h1>LambdaBetterGrass</h1>

			<p>
				Oops, something went wrong! Don't worry, you can find the mod on <a href="https://modrinth.com/mod/lambdabettergrass">Modrinth</a> in the meantime.
			</p>
		</article>
	</main>

	<app_footer class="ls_sidenav_neighbor">
	</app_footer>
</body>
</html>