<html>
<body>
	<header class="center">
		<h1>Quilt Import Utility</h1>
	</header>
	<main class="ls_main_content">
		<div>
			<label for="version_selector">Minecraft Version: </label>
			<select id="version_selector" name="version_selector" disabled>
			</select>
		</div>
		<p id="loading_indicator">Loading versions...</p>
		<div id="error_indicator" style="color: #dd3333"></div>

		<div id="tldr">
			<h2>tl;dr</h2>
			<p>Here's a tl;dr of the different component versions using the <code>gradle.properties</code> file.</p>
			<pre><code id="tldr_code" class="language-properties">Loading...</code></pre>
		</div>

		<div id="mappings">
			<h2><a href="https://github.com/QuiltMC/quilt-mappings">Quilt Mappings</a></h2>
			<p>To add Quilt Mappings to a loom-based project, here are the main buildscript changes required:</p>
			<pre><code id="quilt_mappings_code" class="language-groovy">Loading...</code></pre>
		</div>

		<div id="quiltflower">
			<h2><a href="https://github.com/QuiltMC/quiltflower">QuiltFlower Decompiler</a></h2>
			<p>Here are the main buildscript changes required to use quiltflower in loom-based projects:</p>

			<p><code>settings.gradle</code></p>
			<pre><code class="language-groovy">repositories {
	maven {
		name 'Cotton'
		url 'https://server.bbkr.space/artifactory/libs-release/'
	}
}</code></pre>

			<p><code>build.gradle</code></p>
			<pre><code class="language-groovy">plugins {
	id 'io.github.juuxel.loom-quiltflower' version '1.6.0' // For loom 0.8-0.9, 0.11+
	id 'io.github.juuxel.loom-quiltflower-mini' version '1.2.1' // For loom 0.10
}</code></pre>
		</div>

		<div id="qsl">
			<h2><a href="https://github.com/QuiltMC/quilt-standard-libraries">Quilt Standard Libraries</a></h2>
			<p style="color: #dd5555">As of now, the Quilt Standard Libraries are still in development and experimental!</p>
			<p>Here are the main buildscript changes required:</p>

			<pre><code id="qsl_code" class="language-groovy">Loading...</code></pre>
		</div>

		<div id="repositories">
			<h2>Repositories</h2>
			<p style="color: #dd5555">Warning! The Quilt snapshot repository hosts experimental packages!</p>
			<pre><code class="language-groovy">repositories {
	maven {
		name 'Quilt'
		url 'https://maven.quiltmc.org/repository/release'
	}

	maven {
		name 'QuiltSnapshot'
		url 'https://maven.quiltmc.org/repository/snapshot'
		content {
			includeGroup 'org.quiltmc.fabric_api_qsl'
			includeGroupByRegex 'org\\.quiltmc\\.qsl(?:\\.[a-z_]+)?'
		}
	}
}</code></pre>
		</div>
	
	</main>
	<footer class="ls_app_footer">
		<div class="ls_app_footer_license">
			<span>
				Hosted on <a href="https://pages.github.com">GitHub Pages</a>.
			</span>
			<span>
				Except where otherwise noted: &copy; LambdAurora 2022, under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.
			</span>
		</div>
	</footer>

	<script type="module">
		import "https://cdn.jsdelivr.net/npm/prismjs@1.24.1/prism.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.24.1/components/prism-groovy.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.24.1/components/prism-properties.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/toolbar/prism-toolbar.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js";

		Prism.highlightAll();

		const QUILT_META = "https://meta.quiltmc.org/v3";
		const QUILT_RELEASE_MAVEN = "https://maven.quiltmc.org/repository/release/";
		const QUILT_SNAPSHOT_MAVEN = "https://maven.quiltmc.org/repository/snapshot/";
		const QSL_GROUP = "org.quiltmc.qsl";

		const error_indicator = document.querySelector("#error_indicator");
		const loading_indicator = document.querySelector("#loading_indicator");
		const version_selector = document.querySelector("#version_selector");
		const tldr_code_block = document.querySelector("#tldr_code");
		const qm_code_block = document.querySelector("#quilt_mappings_code");
		const qsl_code_block = document.querySelector("#qsl_code");

		function fetch_json(url) {
			return fetch(url).then(response => response.json())
				.catch(error => {
					console.error(`Failed to fetch ${url}:`);
					console.error(error);
					loading_indicator.classList.add("hide");
					error_indicator.textContent = error;
				});
		}

		function fetch_xml(url) {
			return fetch(url).then(response => response.text())
				.then(data => {
					const parser = new DOMParser();
					return parser.parseFromString(data, "application/xml");
				})
				.catch(error => {
					console.error(`Failed to fetch ${url}:`);
					console.error(error);
					loading_indicator.classList.add("hide");
					error_indicator.textContent = error;
				});
		}

		// Load versions, we consider quilt mappings as the authority.
		async function load_versions() {
			const versions = (await fetch_json(QUILT_META + "/versions/game"))
				.map(version => { return { mc: version.version, build: -1 }; });

			await fetch_json(QUILT_META + "/versions/quilt-mappings")
				.then(data => {
					for (const version of versions) {
						const qm_version = data.find(v => v.gameVersion === version.mc);

						if (qm_version) {
							version.build = qm_version.build;
						}
					}
				});

			for (const version of versions) {
				const version_option = document.createElement("option");
				version_option.setAttribute("value", version.mc);
				version_option.textContent = version.mc;

				version_selector.appendChild(version_option);
			}

			version_selector.removeAttribute("disabled");

			return versions;
		}

		/**
		 * Gets the latest version from a maven metadata file.
		 *
		 * @param {string} url the url to the maven metadata file
		 * @return {string} the latest version
		 */
		async function get_last_version(url) {
			return await fetch_xml(url).then(xml => xml.querySelector("latest").textContent);
		}

		async function get_qsl_metadata(version) {
			version.short_mc = version.mc;

			function get_version(raw) {
				const split = raw.split("+");

				if (split.length !== 2) {
					return null;
				}

				split[1] = split[1].replace("-SNAPSHOT", "");

				if (version.short_mc === split[1]) {
					return { base: split[0], complete: raw };
				}

				return null;
			}

			// Gets the current QSL version for this Minecraft version.
			const qsl_version = await fetch_xml(QUILT_SNAPSHOT_MAVEN + "org/quiltmc/qsl/qsl/maven-metadata.xml")
				.then(xml => {
					const xml_versions = xml.querySelector("versions");
					for (const candidate of xml_versions.children) {
						const result = get_version(candidate.textContent);
						if (result) return result;
					}

					return null;
				});

			if (!qsl_version) {
				return null;
			}

			const qsl_versions = [ { name: "qsl", version: qsl_version, group: QSL_GROUP } ];

			async function fetch_snapshot_pom(group, artifact, base_version) {
				const full_version = await fetch_xml(QUILT_SNAPSHOT_MAVEN + `org/quiltmc/qsl/${group}${artifact}/${base_version.complete}/maven-metadata.xml`)
					.then(xml => {
						const snapshot = xml.querySelector("snapshot");
						return base_version.complete.replace("SNAPSHOT", "")
							+ snapshot.querySelector("timestamp").textContent + "-"
							+ snapshot.querySelector("buildNumber").textContent;
					});
				return fetch_xml(QUILT_SNAPSHOT_MAVEN + `org/quiltmc/qsl/${group}${artifact}/${base_version.complete}/${artifact}-${full_version}.pom`);
			}

			// Load all QSL libraries
			qsl_versions.push({ comment: "\n## QSL Libraries" });

			const libraries = await fetch_snapshot_pom("", "qsl", qsl_version)
				.then(xml => {
					const libraries = [];

					for (const dependency of xml.querySelectorAll("dependency")) {
						// Make sure the loaded library from QSL is indeed a QSL library.
						if (dependency.querySelector("groupId").textContent !== QSL_GROUP)
							continue;

						const library = dependency.querySelector("artifactId").textContent;
						const library_version = get_version(dependency.querySelector("version").textContent);

						qsl_versions.push({ name: "qsl_" + library, version: library_version });
						libraries.push({ name: library, version: library_version, group: QSL_GROUP });
					}

					return libraries;
				});

			// Go through all libraries and add their modules.
			for (const library of libraries) {
				await fetch_snapshot_pom("", library.name, library.version)
					.then(xml => {
						qsl_versions.push({ comment: "\n## QSL Modules (" + library.name + ")" });
						for (const dependency of xml.querySelectorAll("dependency")) {
							if (!dependency.querySelector("groupId").textContent.startsWith(QSL_GROUP))
								continue;

							const module = dependency.querySelector("artifactId").textContent;
							const module_version = get_version(dependency.querySelector("version").textContent);

							qsl_versions.push({ name: "qsl_" + module, version: module_version, group: `${QSL_GROUP}.${library.name}` });
						}
					});
			}

			return qsl_versions;
		}

		const versions = await load_versions();
		loading_indicator.textContent = "Loading...";
		const qm_on_loom_version = await get_last_version(QUILT_RELEASE_MAVEN + "org/quiltmc/quilt-mappings-on-loom/maven-metadata.xml");

		async function apply(version) {
			loading_indicator.classList.remove("hide");
			const qsl_version = await get_qsl_metadata(version);

			// tl;dr
			let properties = `minecraft_version=${version.mc}\n`;
			if (version.build != -1) {
				properties += `quilt_mappings=${version.build}\n`;
			} else {
				properties += "# No Quilt Mappings is available for this Minecraft version.\n";
			}
			
			properties += "\n# QSL\n";

			if (!qsl_version) {
				properties += "# No QSL version is available for this Minecraft version.";
			} else {
				for (let i = 0; i < qsl_version.length; i++) {
					const entry = qsl_version[i];

					if (entry.comment) {
						properties += entry.comment + "\n";
					} else {
						properties += `${entry.name}_version = ${entry.version.base}\n`;
					}
				}
			}

			tldr_code_block.innerHTML = Prism.highlight(properties, Prism.languages.properties, "properties");

			// QM
			qm_code_block.innerHTML = Prism.highlight(
				`plugins {\n\tid 'org.quiltmc.quilt-mappings-on-loom' version '${qm_on_loom_version}'\n}\n\ndependencies {\n\tmappings(loom.layered {\n\t\taddLayer(quiltMappings.mappings("org.quiltmc:quilt-mappings:\${minecraft_version}+build.\${quilt_mappings}:v2"))\n\t})\n}`,
				Prism.languages.groovy, "groovy"
			);

			if (!qsl_version) {
				qsl_code_block.innerHTML = `<span style="color: #d55">QSL is not available for the requested version.</span>`;
				loading_indicator.classList.add("hide");
				return;
			}

			// QSL
			let qsl_code = "dependencies {\n";
			qsl_code += `\tmodImplementation "${QSL_GROUP}:qsl:${qsl_version[0].version.complete}"\n\t// or, for a more generic version using gradle.properties:\n`;
			qsl_code += `\tmodImplementation "${QSL_GROUP}:qsl:\${qsl_version}+\${minecraft_version}${qsl_version[0].version.complete.endsWith("-SNAPSHOT") ? "-SNAPSHOT" : ""}"\n`;
			qsl_code += `\n\t// QSL Library Example\n\tmodImplementation "${QSL_GROUP}:core:${qsl_version.find(v => v.name === "qsl_core").version.complete}"\n`
			qsl_code += `\n\t// QSL Module Example\n\tmodImplementation "${QSL_GROUP}.core:resource_loader:${qsl_version.find(v => v.name === "qsl_resource_loader").version.complete}"\n}`
			qsl_code_block.innerHTML = Prism.highlight(qsl_code, Prism.languages.groovy, "groovy");

			loading_indicator.classList.add("hide");
		}

		apply(versions[0]);

		version_selector.addEventListener("change", e => {
			apply(versions.find(v => v.mc === e.target.value));
		});
	</script>
</body>

<script type="module">
const title = "Quilt Import Utility";

return {
	page: {
		title: title,
		description: "Utilities to import Quilt stuff in your mod projects.",
		icons: {
			favicon: "https://quiltmc.org/favicon/favicon.ico"
		},
		embed: {
			title: title,
			image: "https://quiltmc.org/assets/img/logo.svg"
		},
		keywords: "LambdAurora, Minecraft, Quilt, QuiltMC, modding"
	},
	styles: [
		"https://cdn.jsdelivr.net/npm/prismjs@1.26.0/themes/prism-tomorrow.min.css",
		"https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/toolbar/prism-toolbar.min.css"
	]
};
</script>

<style>
			@media (max-width: 850px) {
				pre {
					max-width: calc(100vw - 20px - 2em);
				}
			}
</style>
</html>
