<html>
<body>
	<header class="center">
		<h1>Quilt Import Utility</h1>
	</header>
	<main class="ls_main_content">
		<div>
			<label for="version_selector">Minecraft Version: </label>
			<select id="version_selector" name="version_selector" disabled>
			</select>
		</div>
		<p id="loading_indicator">Loading versions...</p>
		<div id="error_indicator" style="color: #dd3333"></div>

		<div id="tldr">
			<h2>tl;dr</h2>
			<p>Here's a tl;dr of the different component versions using the <code>gradle.properties</code> file.</p>
			<pre><code id="tldr_code" class="language-properties">Loading...</code></pre>
		</div>

		<div id="mappings">
			<h2><a href="https://github.com/QuiltMC/quilt-mappings">Quilt Mappings</a></h2>
			<p>To add Quilt Mappings to a loom-based project, here are the main buildscript changes required:</p>
			<pre><code id="quilt_mappings_code" class="language-groovy">Loading...</code></pre>
		</div>

		<div id="quiltflower">
			<h2><a href="https://github.com/QuiltMC/quiltflower">QuiltFlower Decompiler</a></h2>
			<p>Here are the main buildscript changes required to use quiltflower in loom-based projects:</p>

			<p><code>build.gradle</code></p>
			<pre><code class="language-groovy">plugins {
	id 'io.github.juuxel.loom-quiltflower' version '1.8.+' // For loom 0.8-0.9, 0.11+
	id 'io.github.juuxel.loom-quiltflower-mini' version '1.3.+' // For loom 0.10
}</code></pre>

			<p>The plugin is already included with quilt-loom!</p>
		</div>

		<div id="loader">
			<h2><a href="https://github.com/QuiltMC/quilt-loader">Quilt Loader</a></h2>
			<p>Here are the main buildscript changes required:</p>

			<pre><code id="loader_code" class="language-groovy">plugins {
	id 'org.quiltmc.loom' version '1.+' // Required for the loader to work.
}

dependencies {
	modImplementation "org.quiltmc:quilt-loader:${project.loader_version}"
}</code></pre>
		</div>

		<div id="qsl">
			<h2><a href="https://github.com/QuiltMC/quilt-standard-libraries">Quilt Standard Libraries</a></h2>
			<p style="color: #dd5555">As of now, the Quilt Standard Libraries are still in development and experimental!</p>
			<p>Here are the main buildscript changes required:</p>

			<pre><code id="qsl_code" class="language-groovy">Loading...</code></pre>

			<p>And here's a complete list of the QSL modules by libraries:</p>

			<ul id="qsl_modules"></ul>
		</div>

		<div id="repositories">
			<h2>Repositories</h2>
			<pre><code class="language-groovy">repositories {
	maven {
		name 'Quilt'
		url 'https://maven.quiltmc.org/repository/release'
	}
}</code></pre>
		</div>
	</main>
	<app_footer>
	</app_footer>

	<script type="module">
		import "https://cdn.jsdelivr.net/npm/prismjs@1.24.1/prism.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.24.1/components/prism-groovy.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.24.1/components/prism-properties.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/toolbar/prism-toolbar.min.js";
		import "https://cdn.jsdelivr.net/npm/prismjs@1.26.0/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js";

		Prism.highlightAll();

		const QUILT_META = "https://meta.quiltmc.org/v3";
		const QUILT_RELEASE_MAVEN = "https://maven.quiltmc.org/repository/release/";
		const QSL_GROUP = "org.quiltmc.qsl";

		const error_indicator = document.querySelector("#error_indicator");
		const loading_indicator = document.querySelector("#loading_indicator");
		const version_selector = document.querySelector("#version_selector");
		const tldr_code_block = document.querySelector("#tldr_code");
		const qm_code_block = document.querySelector("#quilt_mappings_code");
		const qsl_code_block = document.querySelector("#qsl_code");
		const qsl_modules_list = document.querySelector("#qsl_modules");

		const USER_AGENT = "Quilt Import Utility | " + (window.navigator.userAgent);

		function fetch_json(url, options) {
			if (!options) options = {};
			if (!options.headers) options.headers = {};
			if (!options.headers.accept) options.headers.accept = "application/json";
			if (!options.headers['user-agent']) options.headers['user-agent'] = USER_AGENT;
			return fetch(url, options).then(response => response.json())
							.catch(error => {
								console.error(`Failed to fetch ${url}:`);
								console.error(error);
								loading_indicator.classList.add("hide");
								error_indicator.textContent = error;
							});
		}

		function fetch_xml(url) {
			return fetch(url).then(response => response.text())
							.then(data => {
								const parser = new DOMParser();
								return parser.parseFromString(data, "application/xml");
							})
							.catch(error => {
								console.error(`Failed to fetch ${url}:`);
								console.error(error);
								loading_indicator.classList.add("hide");
								error_indicator.textContent = error;
							});
		}

		// Load versions, we consider quilt mappings as the authority.
		async function load_versions() {
			const data = await Promise.all([
				fetch_json(QUILT_META + "/versions/game", {cache: "no-store"})
								.then(versions => versions.map(version => {
									return {mc: version.version, stable: version.stable, build: -1};
								})),
				fetch_json(QUILT_META + "/versions/quilt-mappings", {cache: "no-store"})
			]);

			const versions = data[0];

			for (const version of versions) {
				const qm_version = data[1].find(v => v.gameVersion === version.mc);

				if (qm_version) {
					version.build = qm_version.build;
				}
			}

			for (const version of versions) {
				const version_option = document.createElement("option");
				version_option.setAttribute("value", version.mc);
				version_option.textContent = version.mc;

				version_selector.appendChild(version_option);
			}

			version_selector.removeAttribute("disabled");

			let version_candidate = versions.find(v => v.stable);
			if (!version_candidate) version_candidate = versions[0];
			version_selector.value = version_candidate.mc;

			return versions;
		}

		/**
		 * Gets the latest version from a maven metadata file.
		 *
		 * @param {string} url the url to the maven metadata file
		 * @return {string} the latest version
		 */
		async function get_last_version(url) {
			return await fetch_xml(url).then(xml => xml.querySelector("latest").textContent);
		}

		async function get_qsl_metadata(version) {
			function get_version(raw) {
				const split = raw.split("+");

				if (split.length !== 2) {
					console.error(`Failed to parse version: ${raw}`)
					return null;
				}

				split[1] = split[1].replace("-SNAPSHOT", "");

				if (version.mc === split[1]) {
					return { base: split[0], complete: raw };
				}

				return null;
			}

			// Gets the current QSL version for this Minecraft version.
			const qsl_version = await fetch_xml(QUILT_RELEASE_MAVEN + "org/quiltmc/qsl/maven-metadata.xml")
				.then(xml => {
					const xml_versions = xml.querySelector("versions");
					let found = null;

					for (const candidate of xml_versions.children) {
						const result = get_version(candidate.textContent);

						if (result) found = result;
					}

					return found;
				});

			if (!qsl_version) {
				console.error("Failed to locate QSL version.");
				return null;
			}

			const qsl_versions = [ { name: "qsl", version: qsl_version, group: "org.quiltmc" } ];

			async function fetch_pom(group, artifact, base_version) {
				let path = group + artifact + "/";
				if (artifact === "qsl")
					path = "";
				return fetch_xml(QUILT_RELEASE_MAVEN + `org/quiltmc/qsl/${path}${base_version.complete}/${artifact}-${base_version.complete}.pom`);
			}

			// Load all QSL libraries
			qsl_versions.push({ comment: "\n## QSL Libraries" });

			const libraries = await fetch_pom("", "qsl", qsl_version)
				.then(xml => {
					const libraries = [];

					for (const dependency of xml.querySelectorAll("dependency")) {
						// Make sure the loaded library from QSL is indeed a QSL library.
						if (dependency.querySelector("groupId").textContent !== QSL_GROUP)
							continue;

						const library = dependency.querySelector("artifactId").textContent;
						const library_version = get_version(dependency.querySelector("version").textContent);

						qsl_versions.push({ name: library, version: library_version, type: "library" });
						libraries.push({ name: library, version: library_version, group: QSL_GROUP });
					}

					return libraries;
				});

			// Go through all libraries and add their modules.
			for (const library of libraries) {
				await fetch_pom("", library.name, library.version)
					.then(xml => {
						qsl_versions.push({ comment: "\n## QSL Modules (" + library.name + ")" });
						for (const dependency of xml.querySelectorAll("dependency")) {
							if (!dependency.querySelector("groupId").textContent.startsWith(QSL_GROUP))
								continue;

							const module = dependency.querySelector("artifactId").textContent;
							const module_version = get_version(dependency.querySelector("version").textContent);

							qsl_versions.push({ name: module, version: module_version, group: `${QSL_GROUP}.${library.name}`, library: library.name });
						}
					});
			}

			return qsl_versions;
		}

		async function get_quilted_fapi_version(version) {
			function get_version(raw) {
				const split = raw.replace("-SNAPSHOT", "").split("-");
				if (split.length === 0) return null;

				const mc_version = split.pop();

				if (version.mc === mc_version) {
					return { base: split.join("-"), complete: raw };
				}

				return null;
			}

			// Gets the current Quilted Fabric API version for this Minecraft version.
			const quilted_fapi = await fetch_xml(QUILT_RELEASE_MAVEN + "org/quiltmc/quilted-fabric-api/quilted-fabric-api/maven-metadata.xml")
				.then(xml => {
					const xml_versions = xml.querySelector("versions");
					let found = null;

					for (const candidate of xml_versions.children) {
						const result = get_version(candidate.textContent);

						if (result) found = result;
					}

					return found;
				});

			if (!quilted_fapi) {
				console.error("Failed to locate Quilted Fabric API version.");
				return null;
			}

			return quilted_fapi;
		}

		const versions = await load_versions();
		loading_indicator.textContent = "Loading...";
		const qm_on_loom_version = await get_last_version(QUILT_RELEASE_MAVEN + "org/quiltmc/quilt-mappings-on-loom/maven-metadata.xml");

		async function apply(version) {
			loading_indicator.classList.remove("hide");
			const tool_versions = await Promise.all([
				get_qsl_metadata(version),
				fetch_json(QUILT_META + "/versions/loader").then(json => json[0].version),
				get_quilted_fapi_version(version)
			]);

			const qsl_version = tool_versions[0];
			const quilted_fapi_version = tool_versions[2];

			// tl;dr
			let properties = `minecraft_version=${version.mc}\n`;
			if (version.build != -1) {
				properties += `quilt_mappings=${version.build}\n`;
			} else {
				properties += "# No Quilt Mappings is available for this Minecraft version.\n";
			}

			properties += `\nloader_version=${tool_versions[1]}\n`;

			properties += "\n# QSL\n";

			if (!qsl_version) {
				properties += "# No QSL version is available for this Minecraft version.\n";

				qsl_modules_list.innerHTML = "No modules are available for this version.";
			} else {
				const entry = qsl_version[0];
				properties += "# QSL version number is shared between all the modules.\n";
				properties += `${entry.name}_version = ${entry.version.base}\n`;

				qsl_modules_list.innerHTML = "";

				qsl_version.filter(v => v.type === "library").forEach(v => {
					const item = document.createElement("li");
					const name = document.createElement("code");
					name.textContent = v.name;

					item.appendChild(name);
					item.appendChild(document.createElement("br"));

					const modules_list = document.createElement("ul");
					item.appendChild(modules_list);

					qsl_version.filter(m_v => m_v.library === v.name).forEach(m_v => {
						const m_item = document.createElement("li");
						const m_name = document.createElement("code");
						m_name.textContent = m_v.name;

						m_item.appendChild(m_name);
						modules_list.appendChild(m_item);
					});


					qsl_modules_list.appendChild(item);
				});

				console.log(qsl_version);
			}

			properties += "\n# Quilted Fabric API\n";

			if (!quilted_fapi_version) {
				properties += "# No Quilted Fabric API version is available for this Minecraft version.";
			} else {
				properties += `quilted_fabric_api_version = ${quilted_fapi_version.base}`
			}

			tldr_code_block.innerHTML = Prism.highlight(properties, Prism.languages.properties, "properties");

			// QM
			qm_code_block.innerHTML = Prism.highlight(
				`dependencies {\n\tmappings "org.quiltmc:quilt-mappings:\${minecraft_version}+build.\${quilt_mappings}:intermediary-v2"\n}`,
				Prism.languages.groovy, "groovy"
			);

			if (!qsl_version) {
				qsl_code_block.innerHTML = `<span style="color: #d55">QSL is not available for the requested version.</span>`;
				loading_indicator.classList.add("hide");
				return;
			}

			// QSL
			let qsl_code = "dependencies {\n";
			qsl_code += `\tmodImplementation "org.quiltmc:qsl:${qsl_version[0].version.complete}"\n\t// or, for a more generic version using gradle.properties:\n`;
			qsl_code += `\tmodImplementation "org.quiltmc:qsl:\${qsl_version}+\${minecraft_version}${qsl_version[0].version.complete.endsWith("-SNAPSHOT") ? "-SNAPSHOT" : ""}"\n`;
			qsl_code += `\n\t// QSL Library Example\n\tmodImplementation "${QSL_GROUP}:core:${qsl_version.find(v => v.name === "core").version.complete}"\n`
			qsl_code += `\n\t// QSL Module Example\n\tmodImplementation "${QSL_GROUP}.core:resource_loader:${qsl_version.find(v => v.name === "resource_loader").version.complete}"\n`
			if (quilted_fapi_version) {
				qsl_code += `\n\t// Quilted Fabric API Example\n\tmodImplementation "org.quiltmc.quilted-fabric-api:quilted-fabric-api:${quilted_fapi_version.complete}"\n`;
				qsl_code += `\t// Or\n\tmodImplementation "org.quiltmc.quilted-fabric-api:quilted-fabric-api:\${quilted_fabric_api_version}-\${minecraft_version}"\n`;
			}
			qsl_code += "}";
			qsl_code_block.innerHTML = Prism.highlight(qsl_code, Prism.languages.groovy, "groovy");

			loading_indicator.classList.add("hide");
		}

		apply(versions.find(v => v.mc === version_selector.value));

		version_selector.addEventListener("change", e => {
			apply(versions.find(v => v.mc === e.target.value));
		});
	</script>
</body>

<style>
			@media (max-width: 850px) {
				pre {
					max-width: calc(100vw - 20px - 2em);
				}
			}
</style>
</html>
