<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>${page.title}</title>

		<link rel="preload" href="/style.css" as="style">

		<meta name="description" [content]="props.page.description">

		<meta property="og:type" [content]="props.page.embed.type">
		<meta property="og:title" [content]="props.page.embed.title">
		<meta property="og:site_name" [content]="props.app.name">
		<meta property="og:url" [content]="props.app.root_url + props.page.path">
		<meta property="og:description" [content]="props.page.description">
		<meta property="twitter:creator" content="@LambdAurora">

		<meta name="theme-color" content="#ff5aa2">

		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
	</body>
</html>
