<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>${page.title}</title>

		<link rel="preload" href="/style.css" as="style">

		<meta name="description" content="${page.description}">

		<meta property="og:type" content="${page.embed.type}">
		<meta property="og:title" content="${page.embed.title}">
		<meta property="og:site_name" content="${global_context.site_name}">
		<meta property="og:url" content="${global_context.root_url}${page.path}">
		<meta property="og:description" content="${page.description}">
		<meta property="twitter:creator" content="@LambdAurora">

		<meta name="theme-color" content="#ff9900">

		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
	<body>
	</body>
</html>
