/*
 * Copyright 2024 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "../base/typography";
@use "../base/depth";

.ls_btn {
	--ls_btn_hover_shade_color: var(--ls_theme_primary);
	--ls_round_size: 40px;

	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;
	outline: none;

	font-size: 0.875rem;
	font-weight: typography.$landmark_font_weight;
	letter-spacing: .05929em;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	color: var(--ls_theme_primary);
	background-color: transparent;

	padding: 0 16px;
	margin: 6px 8px;

	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity .2s ease-out, background-color .2s ease-out;
	}

	&::after, &::before {
		background-color: var(--ls_btn_hover_shade_color);
	}

	&:hover, &:focus {
		&::before {
			opacity: .04;
		}
	}

	&:focus-visible {
		border-color: var(--ls_theme_primary);
	}

	&:active::before {
		opacity: .2;
	}

	/*
	 * Button sizes
	 */

	&[ls_size="small"] {
		height: 32.4px;
		font-size: 72%;
	}

	&[ls_size="large"] {
		--ls_round_size: 54px;
		height: 54px;
		font-size: 120%;
		padding: 0 28px;
	}

	/*
	 * Button variants
	 */

	&[ls_variant="contained"], &[ls_variant="fab"] {
		--ls_btn_hover_shade_color: var(--ls_theme_on_primary);
		--ls_ripple_fg_opacity: 0.32;
		background-color: var(--ls_theme_primary);
		color: var(--ls_theme_on_primary);
		transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);

		&[disabled] {
			color: var(--ls_theme_disabled_button_foreground, rgba(0, 0, 0, .37));
			background-color: var(--ls_theme_disabled_button_background, rgba(0, 0, 0, .12));
			box-shadow: none !important;
		}

		&:hover, &:focus {
			&::before {
				opacity: .2;
			}
		}

		&:active::before {
			opacity: .4;
		}
	}

	&[ls_variant*="icon"], &[ls_variant="fab"] {
		min-width: unset;
		width: var(--ls_round_size);
		height: var(--ls_round_size);
		padding: 0;
		border-radius: 50%;
	}

	&[ls_variant="contained"] {
		@include depth.elevation(2);

		&:hover, &:focus {
			@include depth.elevation(4);
		}

		&:active {
			@include depth.elevation(8);
		}
	}

	&[ls_variant="fab"] {
		box-shadow: 0px 3px 5px -1px #0003, 0px 6px 10px 0px #00000024, 0px 1px 18px 0px #0000001f;
	}

	&:disabled {
		pointer-events: none;
		cursor: default;
		box-shadow: none;
		color: var(--ls_theme_disabled_button_foreground, rgba(0, 0, 0, .37));
	}

	&:not([ls_variant*="icon"]):not([ls_variant="fab"]) {
		> .ls_icon:first_child {
			margin-right: .15em;
		}
	
		> .ls_icon:last-child {
			margin-right: .15em;
		}
	}
}
