/*
 * Copyright 2024 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.ls_card {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	box-shadow: 0 3px 1px -2px #0003, 0 2px 2px 0 #00000024, 0 1px 5px 0 #0000001f;
	box-sizing: border-box;

	background-color: var(--ls_theme_background_popover);

	& > :first-child:not(.ls_btn) {
		border-top-left-radius: inherit;
		border-top-right-radius: inherit;
	}

	& > :last-child:not(.ls_btn) {
		border-bottom-left-radius: inherit;
		border-bottom-right-radius: inherit;
	}

	& > :not(:first-child) {
		border-top: 1px solid var(--ls_theme_border_color);
	}

	.ls_card_section {
		display: flex;
		flex-direction: row;

		flex: 1;

		& > div.ls_card_content {
			flex: 1 1 auto;
			padding: 1em;

			> h1, > h2, > h3, > h4, > h5, > h6 {
				margin-block-start: 0em;
			}
		}

		&.ls_card_media {
			& > img {
				display: block;
				position: relative;
				width: 100%;
				border-top-left-radius: inherit;
			}

			&:not([ls_size="small"]) {
				position: relative;
	
				> img {
					border-top-right-radius: inherit;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
				}
	
				> div.ls_card_content {
					display: flex;
					position: absolute;
					flex-direction: column;
					justify-content: end;
					left: 0;
					right: 0;
					bottom: 0;
					max-width: 100%;
					padding: 24px;
				}
			}

			&[ls_size="small"] {
				flex-direction: row;
		
				> div.ls_card_content {
					flex: 1 1 auto;
					padding: 1em;
				}
			}
		}

		&.ls_card_media_darkened {
			color: var(--ls_theme_foreground_on_dark);
	
			& > div.ls_card_media_darkener {
				background-color: rgba(0, 0, 0, 0.5);
				pointer-events: none;
	
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
	
				border-top-left-radius: inherit;
				border-top-right-radius: inherit;

				&[darken_intensity="10"] {
					background-color: rgba(0, 0, 0, 0.10);
				}

				&[darken_intensity="25"] {
					background-color: rgba(0, 0, 0, 0.25);
				}
			}
		}
	}

	.ls_card_actions {
		display: flex;
		padding: 8px;
		align-items: center;
	}

	&[ls_flat] {
		border-radius: 0;
		box-shadow: none;
	}

	&[ls_clickable] {
		transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
	
		color: var(--ls_theme_foreground);
	
		h1, h2, h3, h4, h5, h6 {
			color: var(--ls_theme_primary);
		}
	}
}
