/*
 * Copyright 2024 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@mixin chip_size($height, $padding) {
	padding: 0 $padding;
	min-height: $height;
} 

.ls_chip {
	--ls_chip_background_color: none;
	--ls_chip_color: initial;
	--ls_chip_border_color: var(--ls_theme_border_color);

	display: inline-flex;
	box-sizing: border-box;

	align-items: center;

	@include chip_size(32px, 12px);
	margin: 4px;

	border: 1px solid var(--ls_chip_border_color);
	border-radius: 8px;

	background-color: var(--ls_chip_background_color);
	color: var(--ls_chip_color);

	&[ls_variant="highlight"] {
		--ls_chip_border_color: var(--ls_theme_primary);
		border-width: 2px;
		--ls_chip_color: var(--ls_theme_primary);
	}

	&[ls_variant="warning"] {
		--ls_chip_background_color: var(--ls_theme_warning_soft_background_color);
		--ls_chip_border_color: var(--ls_theme_warning_color);
	}

	&[ls_variant="error"] {
		--ls_chip_background_color: var(--ls_theme_error_soft_background_color);
		--ls_chip_border_color: var(--ls_theme_error_color);
	}

	&[ls_size="small"] {
		@include chip_size(24px, 10px);
		font-size: 85%;
	}
}
