/*
 * Copyright 2024 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "../base/icon";

.ls_img, .ls_responsive_img {
	max-width: 100%;
	width: fit-content;
	height: auto;
	break-inside: avoid;

	&.ls_rounded_img {
		border-radius: 100%;
	}
}

.ls_responsive_img {
	width: 100%;
}

.ls_pixelated {
	image-rendering: pixelated;
}

.ls_responsive_iframe {
	max-width: 100%;
}

.ls_article_iframe {
	flex: 1 0 auto;
	margin-block-start: .75em;
	margin-block-end: .75em;
	max-width: 100%;
	align-self: center;
}

.ls_img_icon {
	border-radius: 4px;

	@include icon.icon_sizes();

	&[ls_variant="rounded"] {
		border-radius: 100%;
	}
}

.ls_simple_img_gallery {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

	@media print {
		display: initial;
	}

	@media screen and (max-width: 850px) {
		flex-direction: column;
	}
}
