/*
 * Copyright 2026 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

.ls_introduction_avatar {
	display: flex;
	flex-direction: column;
	max-width: 196px;

	&.ls_in_card > img {
		max-height: 128px;
	}

	> img {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	> .ls_color_swatch {
		background-color: var(--ls_theme_primary_dark);
		height: 1.75em;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}
}

@media screen and (max-width: 850px) {
	.ls_introduction_avatar.ls_in_card > img {
		max-height: 96px;
	}
}
