/*
 * Copyright 2024 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

table {
	/*
	 * The table display makes it not respect a lot of essential properties.
	 * This requires to have a role=table on the relevant tables since this display value
	 * destroys the accessibility tree.
	 */
	display: block;

	&.ls_grid_table {
		table-layout: fixed;
		border-collapse: collapse;
	
		td, th {
			border: 1px solid var(--ls_theme_border_color);
			padding: 0.25em 0.5em 0.25em 0.5em;
		}
	
		th {
			background-color: var(--ls_theme_background_stronger);
		}
	}
}
