<html>
	<body ls_theme_color="aurore">
		<sidenav id="main_nav" navigation_data="src/nav/main_nav.json">
			<header>
				<main_nav_banner></main_nav_banner>
			</header>
		</sidenav>

		<main class="ls_sidenav_neighbor">
			<div class="ls_main_content" style="margin-top: 4em">
				<h2>Aurore</h2>

				<a href="./">Go back to system index</a>

				<hr />

				<div class="ls_article_display">
					<section class="introduction">
						<div class="ls_introduction_avatar">
							<img [src]="props.page.custom.avatar" class="ls_img" />
							<div class="ls_color_swatch"></div>
						</div>

						<p>
							hi! i'm Aurore, or Aurora. i am an inkling girl who goes by <code>she/it</code>. i'm one of the hosts of this system, although a bit on a break
							atm.
						</p>
						<p>
							i'm not sure how to best introduce myself, my identity is the basis of our <i>singletsona</i>, although i'd like this to change to give more space
							to my <i>constant companions</i> more agency.
						</p>
						<p>i like gardening, sewing, programming, creating art.</p>
						<p>
							i have a huge interest in Splatoon! so much it ended up influencing my form in <i>headspace</i> and how I see myself. you can catch me
							info-dumping a lot about the lore of the game, and most art of myself will feature me as an inkling.
						</p>
					</section>

					<section class="ls_section">
						<h4>Art</h4>

						<p>here's some of the art i've drawn that i really like:</p>

						<blockquote
							class="bluesky-embed"
							data-bluesky-uri="at://did:plc:mitte4mp5nvbdmlkciioj67c/app.bsky.feed.post/3kq4jkoqzy42h"
							data-bluesky-cid="bafyreieqccpzkqw4fyss2zfhkedsklciynuieuptozmw4ilfkkmxigr5oq"
							data-bluesky-embed-color-mode="system"
						>
							<p lang="en">
								#sploonfruits days 13 &amp; 14: SquiddyPineapple &amp; Squid Dragon Fruit! Shapes were hell on this one, but I&#x27;ve tried new things when it
								come to coloring and shading based on what I&#x27;ve learned so far and with some splatstyle references. AND I AM SO PROUD OF THE RESULT!!!
								#Splatoon<br><br><a href="https://bsky.app/profile/did:plc:mitte4mp5nvbdmlkciioj67c/post/3kq4jkoqzy42h?ref_src=embed">[image or embed]</a>
							</p>&mdash; LambdAurora (<a href="https://bsky.app/profile/did:plc:mitte4mp5nvbdmlkciioj67c?ref_src=embed">@lambdaurora.dev</a>) <a
								href="https://bsky.app/profile/did:plc:mitte4mp5nvbdmlkciioj67c/post/3kq4jkoqzy42h?ref_src=embed"
							>April 14, 2024 at 9:55 PM</a>
						</blockquote>
						<script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>

						<blockquote
							class="bluesky-embed"
							data-bluesky-uri="at://did:plc:mitte4mp5nvbdmlkciioj67c/app.bsky.feed.post/3l42bdve65a2h"
							data-bluesky-cid="bafyreifegnb4uu5seaeo6t5ex2ngggzu5s6obiq7hkfhfwobcxgknzc6fa"
							data-bluesky-embed-color-mode="system"
						>
							<p lang="en">
								No matter the longing for the past, nor the pull from the future, you should always appreciate the present moment to its fullest. #Splatoon
								#GrandFestival #TeamPresent<br><br><a href="https://bsky.app/profile/did:plc:mitte4mp5nvbdmlkciioj67c/post/3l42bdve65a2h?ref_src=embed"
								>[image or embed]</a>
							</p>&mdash; LambdAurora (<a href="https://bsky.app/profile/did:plc:mitte4mp5nvbdmlkciioj67c?ref_src=embed">@lambdaurora.dev</a>) <a
								href="https://bsky.app/profile/did:plc:mitte4mp5nvbdmlkciioj67c/post/3l42bdve65a2h?ref_src=embed"
							>September 13, 2024 at 5:24 PM</a>
						</blockquote>
						<script async src="https://embed.bsky.app/static/embed.js" charset="utf-8"></script>
					</section>

					<section class="ls_section">
						<h4>Some Music to Know Me Better</h4>

						<p>here are some songs that i Vibe A Lot With™:</p>

						<div id="music_i_like" class="ls_card_board">
							<card>
								<card:section>
									<iframe
										class="ls_responsive_iframe"
										width="560"
										height="315"
										src="https://youtube.com/embed/xbnA7c8lO6M"
										title="YouTube video player"
										frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										referrerpolicy="strict-origin-when-cross-origin"
										allowfullscreen
									></iframe>

									<card:content>
										<h6>ebb & flow (#∞ dawnward) <i class="by">by h. p. heisler</i></h6>

										<p>a beautiful take on Ebb & Flow, a very nice music from Splatoon 2 by the fictional duo Off The Hook.</p>
										<p>
											i love the lyrics, i usually do not like Splatoon music remixes with lyrics, but this one just <em>fits right</em>. this song has also a
											really good calming effect, in harsh times when relaxation was crucial, this song has been quite the save.
										</p>
									</card:content>
								</card:section>
							</card>

							<card>
								<card:section>
									<iframe
										class="ls_responsive_iframe"
										width="560"
										height="315"
										src="https://www.youtube.com/embed/2VxaLp7sJ70"
										title="YouTube video player"
										frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										referrerpolicy="strict-origin-when-cross-origin"
										allowfullscreen
									></iframe>

									<card:content>
										<h6>Branching Paths <i class="by">by Milo Soon</i></h6>

										<p>a really neat song that I've strangely resonated with due to personal history</p>
									</card:content>
								</card:section>
							</card>

							<card>
								<card:section>
									<iframe
										class="ls_responsive_iframe"
										width="560"
										height="315"
										src="https://www.youtube.com/embed/rAqwdl9u-8w"
										title="YouTube video player"
										frameborder="0"
										allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
										referrerpolicy="strict-origin-when-cross-origin"
										allowfullscreen
									></iframe>

									<card:content>
										<h6>summer salt <i class="by">by fmwaves</i></h6>

										<p>a music that is really nice to lose oneself into its rythm and melody.</p>
										<p>allowed me to push through some projects.</p>
									</card:content>
								</card:section>
							</card>
						</div>
					</section>
				</div>
			</div>
		</main>

		<app_footer class="ls_sidenav_neighbor" />
	</body>

	<style>
		.ls_introduction_avatar {
			float: left;
			margin: 1em;
		}

		.introduction p:first-of-type {
			margin-block-start: 1.5em;
		}

		.by {
			font-size: 0.90em;
			font-weight: 400;
		}

		.bluesky-embed {
			margin-left: auto;
			margin-right: auto;
		}

		.bluesky-embed iframe {
			border-radius: 13px;
		}

		@media screen and (max-width: 850px) {
			.ls_introduction_avatar {
				float: initial;
				margin-left: auto;
				margin-right: auto;
			}

			#music_i_like .ls_card iframe {
				width: 100%;
			}

			#music_i_like .ls_card_section {
				flex-direction: column;
			}
		}
	</style>
</html>
