/*
 * Copyright 2024 LambdAurora <email@lambdaurora.dev>
 *
 * This file is part of LambdaStyle.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@use "./colors";
@use "../util/utils";
@use "sass:list";
@use "sass:map";

@mixin define-base-vars-of($name, $lightness) {
	--ls_theme_primary_#{$lightness}: var(--ls_theme_#{$name}_primary_#{$lightness});
	--ls_theme_on_primary_#{$lightness}: var(--ls_theme_#{$name}_on_primary_#{$lightness});

	--ls_theme_secondary_#{$lightness}: var(--ls_theme_#{$name}_secondary_#{$lightness});
	--ls_theme_on_secondary_#{$lightness}: var(--ls_theme_#{$name}_on_secondary_#{$lightness});

	--ls_theme_foreground_#{$lightness}: var(--ls_theme_#{$name}_foreground_#{$lightness});
	--ls_theme_foreground_accentuated_#{$lightness}: var(--ls_theme_#{$name}_foreground_accentuated_#{$lightness});

	--ls_theme_background_#{$lightness}: var(--ls_theme_#{$name}_background_#{$lightness});
	--ls_theme_background_accentuated_#{$lightness}: var(--ls_theme_#{$name}_background_accentuated_#{$lightness});
	--ls_theme_background_popover_#{$lightness}: var(--ls_theme_#{$name}_background_popover_#{$lightness});
	--ls_theme_background_stronger_#{$lightness}: var(--ls_theme_#{$name}_background_stronger_#{$lightness});
	--ls_theme_background_active_#{$lightness}: var(--ls_theme_#{$name}_background_active_#{$lightness});
}

@mixin define-vars-of($theme, $lightness) {
	--ls_theme_primary: var(--ls_theme_#{$theme}_primary_#{$lightness});
	--ls_theme_on_primary: var(--ls_theme_#{$theme}_on_primary_#{$lightness});

	--ls_theme_secondary: var(--ls_theme_#{$theme}_secondary_#{$lightness});
	--ls_theme_on_secondary: var(--ls_theme_#{$theme}_on_secondary_#{$lightness});

	--ls_theme_foreground: var(--ls_theme_#{$theme}_foreground_#{$lightness});
	--ls_theme_foreground_accentuated: var(--ls_theme_#{$theme}_foreground_accentuated_#{$lightness});

	--ls_theme_background: var(--ls_theme_#{$theme}_background_#{$lightness});
	--ls_theme_background_accentuated: var(--ls_theme_#{$theme}_background_accentuated_#{$lightness});
	--ls_theme_background_popover: var(--ls_theme_#{$theme}_background_popover_#{$lightness});
	--ls_theme_background_stronger: var(--ls_theme_#{$theme}_background_stronger_#{$lightness});
	--ls_theme_background_active: var(--ls_theme_#{$theme}_background_active_#{$lightness});

	--ls_theme_blend_al_primary: var(--ls_theme_blend_al_primary_#{$lightness});
}

:root, [ls_theme_color="aurore"] {
	@include define-base-vars-of("aurora", "light");
	@include define-base-vars-of("aurora", "dark");
}

[ls_theme_color="layla"] {
	@include define-base-vars-of("layla", "light");
	@include define-base-vars-of("layla", "dark");
}

[ls_theme="light"], :root {
	color-scheme: light;

	@include define-vars-of("aurora", "light");

	[ls_theme_color="layla"], &[ls_theme_color="layla"] {
		@include define-vars-of("layla", "light");
	}

	[ls_theme_color="aurore"], &[ls_theme_color="aurore"] {
		@include define-vars-of("aurora", "light");
	}
}

@media screen {
	[ls_theme="dark"] {
		color-scheme: dark;

		@include define-vars-of("aurora", "dark");

		[ls_theme_color="layla"], &[ls_theme_color="layla"] {
			@include define-vars-of("layla", "dark");
		}

		[ls_theme_color="aurore"], &[ls_theme_color="aurore"] {
			@include define-vars-of("aurora", "dark");
		}
	}

	@media (prefers-color-scheme: dark) {
		:root {
			color-scheme: dark;
	
			@include define-vars-of("aurora", "dark");

			[ls_theme_color="layla"], &[ls_theme_color="layla"] {
				@include define-vars-of("layla", "dark");
			}

			[ls_theme_color="aurore"], &[ls_theme_color="aurore"] {
				@include define-vars-of("aurora", "dark");
			}
		}

		[ls_theme_color="layla"] {
			@include define-vars-of("layla", "dark");
		}

		[ls_theme_color="aurore"] {
			@include define-vars-of("aurora", "dark");
		}

		[ls_theme="light"] {
			color-scheme: light;
		
			[ls_theme_color="layla"], &[ls_theme_color="layla"] {
				@include define-vars-of("layla", "light");
			}
		
			[ls_theme_color="aurore"], &[ls_theme_color="aurore"] {
				@include define-vars-of("aurora", "light");
			}
		}
	}
}

@media print {
	:root {
		--ls_theme_background: #fff;
		--ls_theme_foreground: #000;
	}
}
