<html>
<body>
	<sidenav id="main_nav" navigation_data="src/nav/main_nav.json">
		<header>
			<main_nav_banner></main_nav_banner>
		</header>
	</sidenav>

	<main class="ls_main_content ls_sidenav_neighbor" style="margin-top: 4em;">
		<p>Hello world!</p>
		<p>There's honestly not a lot here, you can try to find the different pages of this website.</p>
		<p>
			Just go on my <a href="https://github.com/LambdAurora">GitHub</a> for a detailed list of public projects though.
			This website might get more in the future.
		</p>
	</main>

	<footer class="ls_app_footer ls_sidenav_neighbor">
		<div class="ls_app_footer_license">
			<span>
				Hosted on <a href="https://pages.github.com">GitHub Pages</a>.
			</span>
			<span>
				Except where otherwise noted: &copy; LambdAurora 2022, under <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.
			</span>
		</div>
	</footer>

	<!-- Peeking foxes from every sides of the screen. -->
	<img src="/images/peeking_fox.png" class="peeking_fox_left" aria-hidden="true" style="--peeking_fox_delay: 2s; bottom: 16%;" />
	<img src="/images/peeking_fox.png" class="peeking_fox_top" aria-hidden="true" style="--peeking_fox_delay: 0s; --peeking_fox_duration: 3s; left: 75%;" />
	<img src="/images/peeking_fox.png" class="peeking_fox_bottom" aria-hidden="true" style="--peeking_fox_delay: 15s; left: 30%;" />
	<img src="/images/peeking_fox.png" class="peeking_fox_right" aria-hidden="true" style="--peeking_fox_delay: 6s; --peeking_fox_duration: 6s; top: 20%;" />
	<img src="/images/peeking_fox.png" class="peeking_fox_left" aria-hidden="true" style="--peeking_fox_delay: 30s; --peeking_fox_duration: 8s; top: 15%;" />
	<img src="/images/peeking_fox.png" class="peeking_fox_right" aria-hidden="true" style="--peeking_fox_delay: 40s; --peeking_fox_duration: 4s; top: 65%;" />
</body>

<script type="module">
const title = "LambdAurora";

return {
	page: {
		title: title,
		description: "My personal website.",
		embed: {
			title: title
		},
		keywords: "LambdAurora, AurorasDecorations, LambdaBetterGrass, LambDynamicLights"
	}
};
</script>
</html>
