<body>
	<span class="ls_author_chip${additional_classes}">
		<span>${author.name}</span>
	</span>
</body>

<script>
	const nodes = data.nodes[0].children;

	const author_name = data.element.get_attr("author_name").value();
	data.replace("author.name", author_name);

	const author_picture = data.element.get_attr("author_picture");
	if (author_picture) {
		const img = html.create_element("img")
			.with_attr("alt", `${author_name}'s picture`)
			.with_attr("src", author_picture.value());
		nodes.splice(0, 0, img);
	}

	const author_url = data.element.get_attr("author_url");
	if (author_url) {
		data.nodes[0] = html.create_element("a");
		a.children = nodes;
		data.nodes[0].with_attr("href", author_url.value());
	}

	data.apply_additional_classes();
</script>
