<body>
	<div class="ls_card_section ls_card_media${additional_classes}">
		<img src="${img}" class="ls_responsive_img" />
	</div>
</body>

<script>
	for (const child of data.element.children) {
		data.get_first_element().append_child(child);
	}

	data.apply_additional_classes();

	data.copy_attr("ls_size");
	data.replace("img", data.element.get_attr("img").value());

	data.do_with_attr("darken", _ => {
		data.get_first_element().children.splice(1, 0, html.create_element("div").with_attr("class", "ls_card_media_darken"))
	});
</script>
