<body>
	<div class="ls_card${additional_classes}">
	</div>
</body>

<script type="module">
	let elem = data.get_first_element();
	elem.children = data.element.children;

	data.do_with_attr("href", attr => {
		elem.attr("href", attr.value());
		const link = new html.Link();
		link.children = elem.children;
		link.attributes = elem.attributes;
		data.nodes = data.nodes.map(e => e === elem ? link : e);
		elem = link.with_attr("ls_clickable", "");
	});

	data.copy_attr("style");
	data.copy_attr("tags");
</script>
