<div class="ls_navbar ls_fixed ls_only_on_screen ls_show_on_small_only" ls_side="top" [style]>
	<div class="ls_nav_trigger_btn_wrapper">
		<label
			[for]="`${props.name}_trigger`"
			class="ls_btn ls_nav_trigger_btn"
			ls_variant="icon"
			aria-role="menu"
			aria-label="Menu"
			aria-description="Open the navigation menu."
		>
			<svg width="40" height="40" viewBox="0 0 40 40" stroke="var(--ls_theme_on_primary)" stroke-width="2px" shape-rendering="crispedges">
				<line x1="12" y1="14" x2="28" y2="14"></line>
				<line x1="12" y1="20" x2="28" y2="20"></line>
				<line x1="12" y1="26" x2="28" y2="26"></line>
			</svg>
		</label>
	</div>
	<span class="ls_navbar_title">LambdAurora</span>
</div>
<div [class]='["ls_sidenav_wrapper", ...(props.class ?? [])]'>
	<input type="checkbox" [id]="`${props.name}_trigger`" class="ls_sidenav_internal_trigger" aria-hidden="true">
	<nav [id]="name" class="ls_sidenav">
		<$content of="header" />
		<ul>
			<$content of="nav" />
		</ul>
		<$content of="footer" />
	</nav>

	<label [for]="`${props.name}_trigger`" class="ls_sidenav_darkened"></label>
</div>
