<html>
<body>
	<sidenav id="main_nav" navigation_data="src/nav/main_nav.json">
		<header>
			<main_nav_banner></main_nav_banner>
		</header>
	</sidenav>

	<main class="ls_sidenav_neighbor">
		<div class="ls_main_content" style="margin-top: 4em;">
			<h1>Affectionate</h1>

			<p>
				Oops, something went wrong! Don't worry, you can find the mod on <a href="https://modrinth.com/mod/affectionate">Modrinth</a> in the meantime.
			</p>
		</div>
	</main>

	<app_footer class="ls_sidenav_neighbor">
	</app_footer>
</body>

<script>
	const title = "Affectionate";
	const AFFECTIONATE_README = "https://raw.githubusercontent.com/LambdAurora/affectionate/1.19/README.md";

	function remove_comments(nodes) {
		return nodes.filter(node => {
			return !(node instanceof md.Comment);
		}).map(node => {
			if (node.nodes && node.nodes.length !== 0) {
				node.nodes = remove_comments(node.nodes);
			}

			return node;
		});
	}

	function filter_badge_classes(nodes) {
		nodes.forEach(node => {
			if (node instanceof html.Image) {
				node.remove_attr("class");
			}

			if (node.children) {
				filter_badge_classes(node.children);
			}

			return node;
		});
	}

	return {
		page: {
			title: `LambdAurora - ${title}`,
			description: "A Minecraft mod about player interactions, made for Modfest: Singularity.",
			embed: {
				title: title,
				image: CONSTANTS.get_url("/images/projects/affectionate/affectionate.png")
			},
			keywords: "LambdAurora, Affectionate, Minecraft Mod"
		},
		async post_process(page) {
			const main = page.find_element_by_tag_name("main");
			const div = main.get_element_by_tag_name("div");

			let readme = await fetch(AFFECTIONATE_README)
				.then(response => response.text())
				.then(text => md.parser.parse(text));

			readme.blocks = remove_comments(readme.blocks);

			readme.blocks[1].nodes = readme.blocks[1].nodes.filter(node => {
				if (node instanceof md.Image) {
					if (node.ref.url.startsWith("https://img.shields.io/badge/language-")
						|| node.ref.url.startsWith("https://img.shields.io/github/v/tag")) {
						return false;
					}
				}

				return true;
			});

			div.children = [];

			md.render_to_html(readme, {
				image: {
					class_name: "ls_responsive_img"
				},
				table: {
					process: table => {
						table.with_attr("class", "ls_grid_table");
					}
				},
				parent: div
			});

			const first_p = div.find_element_by_tag_name("p");
			filter_badge_classes(first_p.children);
		}
	};
</script>
</html>