<html>
<body>
	<sidenav id="main_nav" navigation_data="src/nav/main_nav.json">
		<header>
			<main_nav_banner></main_nav_banner>
		</header>
	</sidenav>

	<main class="ls_sidenav_neighbor">
		<div class="ls_main_content" style="margin-top: 4em;">
			<h1>Affectionate</h1>

			<p>
				Please come back later once I have setup the thing that will automatically set the content here. &lt;3
			</p>
		</div>
	</main>

	<app_footer class="ls_sidenav_neighbor">
	</app_footer>
</body>

<script>
	const title = "Affectionate";

	return {
		page: {
			title: `LambdAurora - ${title}`,
			description: "A Minecraft mod about player interactions, made for Modfest: Singularity.",
			embed: {
				title: title,
				image: CONSTANTS.get_url("/images/projects/affectionate/affectionate.png")
			},
			keywords: "LambdAurora, Affectionate, Minecraft Mod"
		}
	};
</script>
</html>