/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2023 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

article {
	li + li, li > ul, li > ol {
		margin-top: .25em;
	}

	> table {
		width: max-content;
		max-width: 100%;
		overflow-x: auto;
	}

	> .ls_img {
		align-self: center;
	}
}

.ls_author_chip {
	--ls_author_picture_size: 2em;
	font-size: 80%;

	display: inline-flex;
	align-items: center;

	> img {
		border-radius: 16%;
		width: var(--ls_author_picture_size);
		height: var(--ls_author_picture_size);
	}

	> span {
		margin-left: 0.5em;
	}
}

.ls_article_metadata {
	font-size: 85%;

	.ls_article_authors {
		flex: 1 1 auto;
		display: flex;
		align-items: center;

		> span:not([class*="ls_author_chip"]) {
			margin-right: 0.5em;
		}

		.ls_author_chip {
			font-size: unset;
		}

		> .ls_author_chip > img {
			margin-left: 0.5em;
		}
	}

	.ls_article_times {
		flex: 0 1 auto;
	}
}

@media (min-width: 750px) {
	.ls_article_metadata {
		align-items: center;
		flex-direction: row;
	}
}
