/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2022 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

/*
 * Buttons
 */

.ls_btn {
	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	height: 36px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	overflow: hidden;
	outline: none;

	font-size: 14px;
	font-weight: 500;
	letter-spacing: .05929em;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	color: var(--ls_theme_primary);
	background-color: transparent;

	padding: 0 16px;
	margin: 6px 8px;

	cursor: pointer;
}

.ls_btn::before {
	content: '';
}

.ls_btn::before {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: opacity .2s ease-out, background-color .2s ease-out;
}

.ls_btn::after, .ls_btn::before {
	background-color: var(--ls_theme_primary);
}

.ls_btn:hover::before {
	opacity: .04;
}

/*
 * Button variants
 */

.ls_btn[ls_variant="contained"], .ls_btn[ls_variant="fab"] {
	--ls_ripple_fg_opacity: 0.32;
	background-color: var(--ls_theme_primary);
	color: var(--ls_theme_on_primary);
	transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.ls_btn[ls_variant="contained"][disabled], .ls_btn[ls_variant="fab"][disabled] {
	color: var(--ls_theme_disabled_button_foreground, rgba(0, 0, 0, .37));
	background-color: var(--ls_theme_disabled_button_background, rgba(0, 0, 0, .12));
	box-shadow: none !important;
}

.ls_btn[ls_variant="contained"]::after, .ls_btn[ls_variant="contained"]::before, .ls_btn[ls_variant="fab"]::after, .ls_btn[ls_variant="fab"]::before {
	background-color: var(--ls_theme_on_primary);
}

.ls_btn[ls_variant="contained"]:hover:before, .ls_btn[ls_variant="fab"]:hover:before,
.ls_btn[ls_variant="contained"]:focus:before, .ls_btn[ls_variant="fab"]:focus:before {
	opacity: .2;
}

.ls_btn[ls_variant="contained"]:active:before, .ls_btn[ls_variant="fab"]:active:before {
	opacity: .4;
}

.ls_btn[ls_variant*="icon"], .ls_btn[ls_variant="fab"] {
	min-width: unset;
	width: 36px;
	height: 36px;
	padding: 0;
	border-radius: 50%;
}

.ls_btn[ls_variant="fab"] {
	width: 40px;
	height: 40px;
	box-shadow: 0px 3px 5px -1px #0003, 0px 6px 10px 0px #00000024, 0px 1px 18px 0px #0000001f;
}

.ls_btn[disabled] {
	pointer-events: none;
	cursor: default;
	box-shadow: none;
	color: var(--ls_theme_disabled_button_foreground, rgba(0, 0, 0, .37));
}
