/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2023 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

/*
 * Buttons
 */

.ls_btn {
	--ls_btn_hover_shade_color: var(--ls_theme_primary);
	--ls_round_size: 40px;

	display: inline-flex;
	position: relative;
	align-items: center;
	justify-content: center;
	min-width: 64px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;
	outline: none;

	font-size: 14px;
	font-weight: 500;
	letter-spacing: .05929em;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
	color: var(--ls_theme_primary);
	background-color: transparent;

	padding: 0 16px;
	margin: 6px 8px;

	cursor: pointer;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: opacity .2s ease-out, background-color .2s ease-out;
	}

	&::after, &::before {
		background-color: var(--ls_btn_hover_shade_color);
	}

	&:hover::before, &:focus::before {
		opacity: .04;
	}

	&:focus-visible {
		border: 1px solid var(--ls_theme_primary);
	}

	/*
	 * Button sizes
	 */

	&[ls_size="small"] {
		height: 32.4px;
		font-size: 72%;
	}

	&[ls_size="large"] {
		height: 54px;
		font-size: 120%;
		padding: 0 28px;
	}

	/*
	 * Button variants
	 */

	&[ls_variant="contained"], &[ls_variant="fab"] {
		--ls_btn_hover_shade_color: var(--ls_theme_on_primary);
		--ls_ripple_fg_opacity: 0.32;
		background-color: var(--ls_theme_primary);
		color: var(--ls_theme_on_primary);
		transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);

		&[disabled] {
			color: var(--ls_theme_disabled_button_foreground, rgba(0, 0, 0, .37));
			background-color: var(--ls_theme_disabled_button_background, rgba(0, 0, 0, .12));
			box-shadow: none !important;
		}

		&:hover:before, &:focus:before {
			opacity: .2;
		}

		&:active:before {
			opacity: .4;
		}
	}

	&[ls_variant*="icon"], &[ls_variant="fab"] {
		min-width: unset;
		width: var(--ls_round_size);
		height: var(--ls_round_size);
		padding: 0;
		border-radius: 50%;
	}

	&[ls_variant="fab"] {
		box-shadow: 0px 3px 5px -1px #0003, 0px 6px 10px 0px #00000024, 0px 1px 18px 0px #0000001f;
	}

	&[disabled] {
		pointer-events: none;
		cursor: default;
		box-shadow: none;
		color: var(--ls_theme_disabled_button_foreground, rgba(0, 0, 0, .37));
	}
}
