/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2022 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

code {
	background-color: var(--ls_theme_background_code);
	font-family: ui-monospace, monospace;
	font-size: 85%;
}

a code {
	color: var(--ls_theme_primary);
}

:not(pre) code {
	border-radius: 6px;
	padding: .2em .4em;
}
