/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2023 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

@use "colors";

:root {
	--ls_theme_primary: var(--ls_theme_lavender_primary);
	--ls_theme_on_primary: var(--ls_theme_lavender_on_primary);

	--ls_theme_primary_lightened: var(--ls_theme_lavender_primary_lightened);
	--ls_theme_primary_lightened_1: var(--ls_theme_lavender_primary_lightened_1);
	--ls_theme_primary_lightened_2: var(--ls_theme_lavender_primary_lightened_2);
	--ls_theme_primary_lightened_3: var(--ls_theme_lavender_primary_lightened_3);
	--ls_theme_primary_lightened_4: var(--ls_theme_lavender_primary_lightened_4);
	--ls_theme_primary_lightened_5: var(--ls_theme_lavender_primary_lightened_5);
	--ls_theme_primary_lightened_6: var(--ls_theme_lavender_primary_lightened_6);
	--ls_theme_primary_lightly_darkened: var(--ls_theme_lavender_primary_lightly_darkened);
	--ls_theme_primary_lightly_darkened_1: var(--ls_theme_lavender_primary_lightly_darkened_1);
	--ls_theme_primary_lightly_darkened_2: var(--ls_theme_lavender_primary_lightly_darkened_2);
	--ls_theme_primary_darkened: var(--ls_theme_lavender_primary_darkened);
	--ls_theme_primary_darkened_1: var(--ls_theme_lavender_primary_darkened_1);
	--ls_theme_primary_darkened_2: var(--ls_theme_lavender_primary_darkened_2);
	--ls_theme_primary_darkened_3: var(--ls_theme_lavender_primary_darkened_3);

	--ls_theme_secondary: var(--ls_theme_lavender_secondary);
	--ls_theme_on_secondary: var(--ls_theme_lavender_on_secondary);

	--ls_theme_secondary_lightened: var(--ls_theme_lavender_secondary_lightened);
	--ls_theme_on_secondary_lightened: var(--ls_theme_lavender_on_secondary_lightened);
	--ls_theme_secondary_lightened_1: var(--ls_theme_lavender_secondary_lightened_1);
	--ls_theme_secondary_lightened_2: var(--ls_theme_lavender_secondary_lightened_2);
	--ls_theme_secondary_lightened_3: var(--ls_theme_lavender_secondary_lightened_3);
	--ls_theme_secondary_lightened_4: var(--ls_theme_lavender_secondary_lightened_4);
	--ls_theme_secondary_lightened_5: var(--ls_theme_lavender_secondary_lightened_5);
	--ls_theme_secondary_lightened_6: var(--ls_theme_lavender_secondary_lightened_6);
	--ls_theme_secondary_lightly_darkened: var(--ls_theme_lavender_secondary_darkened);
	--ls_theme_secondary_lightly_darkened_1: var(--ls_theme_lavender_secondary_darkened_1);
	--ls_theme_secondary_lightly_darkened_2: var(--ls_theme_lavender_secondary_darkened_2);
	--ls_theme_on_secondary_darkened: var(--ls_theme_lavender_on_secondary);
	--ls_theme_secondary_darkened: var(--ls_theme_lavender_secondary_darkened);
	--ls_theme_secondary_darkened_1: var(--ls_theme_lavender_secondary_darkened_1);
	--ls_theme_secondary_darkened_2: var(--ls_theme_lavender_secondary_darkened_2);
	--ls_theme_secondary_darkened_3: var(--ls_theme_lavender_secondary_darkened_3);

	--ls_theme_foreground: var(--ls_theme_foreground_on_light);
	--ls_theme_background: #f4f4f4;

	--ls_theme_foreground_accentuated: #4d4d4d;
	--ls_theme_background_accentuated: #f0f0f0;
	--ls_theme_background_highlight: #f4f4f4;
	--ls_theme_background_popover: var(--ls_theme_background_accentuated);
	--ls_theme_background_active: var(--ls_theme_lavender_background_active);
}

.ls_secondary_gradient {
	background: linear-gradient(-40deg, var(--ls_theme_secondary) 0%, var(--ls_theme_secondary_darkened_2) 100%);
}

@media print {
	:root {
		--ls_theme_foreground: #000;
		--ls_theme_background: #fff;
	}
}
