/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2022 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

$theme_secondary: #9c73cc;
$theme_secondary_darkened: darken($theme_secondary, 37%);

:root {
	--ls_theme_primary: #f90;
	--ls_theme_on_primary: #333;

	--ls_theme_secondary: #{$theme_secondary};
	--ls_theme_on_secondary: #333;
	--ls_theme_secondary_darkened: #{$theme_secondary_darkened};
	--ls_theme_on_secondary_darkened: #eee;
	--ls_theme_secondary_lightened: #cea2ff;
	--ls_theme_on_secondary_lightened: var(--ls_theme_on_secondary);

	--ls_theme_background_active: #{rgba($theme_secondary_darkened, .9)};

	--ls_theme_border_color: #777;
	--ls_theme_background_code: #77778022;

	--ls_dark_theme_background_accentuated: #222;
}
