/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2022 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

.ls_icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 24px;
	font-feature-settings: "liga";
	line-height: 1;
}

.ls_btn:not([ls-variant*="icon"]) {
	> .ls_icon:first_child {
		margin-right: .15em;
	}

	> .ls_icon:last-child {
		margin-right: .15em;
	}
}
