/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2023 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

/* Images */

.ls_img, .ls_responsive_img {
	max-width: 100%;
	width: fit-content;
	height: auto;
}

.ls_responsive_img {
	width: 100%;
}

.ls_pixelated {
	image-rendering: pixelated;
}
