/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2023 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

body {
	font-family: -apple-system, system-ui, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	margin: 0;

	color: var(--ls_theme_foreground);
	background-color: var(--ls_theme_background);
}

main {
	flex: 1 1 auto;
	box-sizing: border-box;
}

.ls_main_content, article {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	margin: 40px auto;
	padding: 0 10px;
	max-width: 60em;
	width: 100%;
	box-sizing: border-box;
}

/* Auto-margin if navbar is present */
.ls_navbar.ls_fixed:not(.ls_show_on_small_only) ~ .ls_sidenav_neighbor {
	> .ls_main_content, > article {
		margin-top: 4em;
	}
}

@media screen and (max-width: 850px) {
	.ls_navbar.ls_fixed.ls_show_on_small_only ~ .ls_sidenav_neighbor {
		> .ls_main_content, > article {
			margin-top: 4em;
		}
	}
}

.ls_divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

.ls_container, .ls_app_footer, .ls_app_footer > .ls_app_footer_license {
	width: 100%;
	box-sizing: border-box;
}
