/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2022 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

/* Basics */

@use "colors_light";
@use "button";
@use "code";
@use "color_ship";
@use "table";
@use "sidenav";
@use "article";

:root {
	color-scheme: light;

	--peeking_fox_delay: 0s;
}

@media (prefers-color-scheme: dark) {
	@import "colors_dark";

	:root {
		color-scheme: dark;
	}
}

body {
	font-family: -apple-system, system-ui, sans-serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	height: 100%;
	margin: 0;

	color: var(--ls_theme_foreground);
	background-color: var(--ls_theme_background);
}

main {
	box-sizing: border-box;
}

.ls_main_content, article {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;

	margin: 40px auto;
	padding: 0 10px;
	max-width: 60em;
	box-sizing: border-box;
}

a {
	color: var(--ls_theme_primary);
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/*
 * Depth
 */

.ls_elevation_2, .ls_btn[ls_variant="contained"] {
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
	0 2px 2px 0 rgba(0, 0, 0, .14),
	0 1px 5px 0 rgba(0, 0, 0, .12);
}

.ls_elevation_4, .ls_btn[ls_variant="contained"]:hover, .ls_btn[ls_variant="contained"]:focus {
	box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2),
	0 4px 5px 0 rgba(0, 0, 0, .14),
	0 1px 10px 0 rgba(0, 0, 0, .12);
}

.ls_elevation_8, .ls_btn[ls_variant="contained"]:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, .2),
	0 8px 10px 1px rgba(0, 0, 0, .14),
	0 3px 14px 2px rgba(0, 0, 0, .12);
}

/*
 * Typography
 */

.ls_subtitle2, .ls_app_footer_license {
	font-size: .857rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: .0071428571em;
}

/*
 * Layout
 */

.ls_divider {
	height: 1px;
	overflow: hidden;
	background-color: #e0e0e0;
}

.ls_container, .ls_app_footer, .ls_app_footer > .ls_app_footer_license {
	width: 100%;
	box-sizing: border-box;
}

/* Images */

.ls_responsive_img {
	width: 100%;
	height: auto;
}

/* Quotes */

blockquote {
	border-left: solid var(--ls_theme_primary);
	padding-left: 1em;
}

blockquote > .ls_source {
	font-size: 80%;
	color: var(--ls_theme_foreground_accentuated);
}

blockquote > .ls_source::before {
	content: "\2014 \00A0";
}

/*
 * Footer
 */

.ls_app_footer {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	background-color: var(--ls_theme_background_accentuated);
	color: #fff;
}

.ls_app_footer > .ls_app_footer_license {
	display: flex;
	justify-content: space-between;
	padding: 8px;

	color: var(--ls_theme_foreground_accentuated);
	background-color: rgba(0, 0, 0, 0.1);

	a {
		color: var(--ls_theme_foreground_accentuated);
		text-decoration: underline;
	}
}

@media print {
	.ls_app_footer {
		display: none;
	}
}

/*
 * Utilities
 */

.hide {
	display: none !important;
}

.center {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

/* Fox peeking animations */

@keyframes fox_peek_left {
	0% {left: -64px; opacity: 100%;}
	100% {left: 0px; opacity: 100%;}
}

@keyframes fox_peek_top {
	0% {top: -64px; opacity: 100%;}
	100% {top: 0px; opacity: 100%;}
}

@keyframes fox_peek_right {
	0% {right: -64px; opacity: 100%;}
	100% {right: 0px; opacity: 100%;}
}

@keyframes fox_peek_bottom {
	0% {bottom: -64px; opacity: 100%;}
	100% {bottom: 0px; opacity: 100%;}
}

.peeking_fox_left, .peeking_fox_top, .peeking_fox_right, .peeking_fox_bottom {
	position: fixed;
	opacity: 0;
}

.peeking_fox_left {
	transform: rotate(90deg);
	animation: fox_peek_left var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

.peeking_fox_top {
	transform: rotate(180deg);
	animation: fox_peek_top var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

.peeking_fox_right {
	transform: rotate(270deg);
	animation: fox_peek_right var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

.peeking_fox_bottom {
	animation: fox_peek_bottom var(--peeking_fox_duration, 5s) ease-in-out var(--peeking_fox_delay, 0s) infinite alternate;
}

/*
 * Mobile
 */

@media (max-width: 850px) {
	.ls_app_footer_license {
		flex-direction: column;
	}

	.ls_app_footer > .ls_app_footer_license > * {
		text-align: center;
	}
}
