/*
 * lambdaurora.dev stylesheet - A simple stylesheet.
 *
 * Written in 2022 by LambdAurora <email@lambdaurora.dev>
 *
 * To the extent possible under law, the author(s) have dedicated
 * all copyright and related and neighboring rights to this software
 * to the public domain worldwide.
 * This software is distributed without any warranty.
 *
 * See <http://creativecommons.org/publicdomain/zero/1.0/>.
 */

table.grid_table {
	table-layout: fixed;
	border-collapse: collapse;

	td, th {
		border: 1px solid var(--ls_theme_border_color);
		padding: 0 0.5em 0.25em 0.5em;
	}

	th {
		background-color: #eee;
	}
}

@media (prefers-color-scheme: dark) {
	table.grid_table th {
		background-color: #333;
	}
}
