<html>
	<body>
		<sidenav id="main_nav" navigation_data="src/nav/main_nav.json">
			<header>
				<main_nav_banner></main_nav_banner>
			</header>
		</sidenav>

		<main class="ls_sidenav_neighbor">
			<div class="ls_main_content" style="margin-top: 4em">
				<h2>Plural Art</h2>

				<hr />

				<div class="ls_article_display">
					<section class="ls_section">
						<p>Here's an index of plural art that we've found over time.</p>
					</section>

					<section class="ls_section">
						<h3>Music</h3>

						<ul>
							<li>
								<a href="https://jamiepaige.bandcamp.com/album/constant-companions-deluxe-edition">Constant Companions</a> - An album by Jamie Paige which has tracks which have plural themes.

								<ul>
									<li><a href="https://jamiepaige.bandcamp.com/track/breeze-blows-with-marcy-nabors-marlow-jacobs-2">Breeze Blows</a></li>
									<li><a href="https://jamiepaige.bandcamp.com/track/clouddrop">Clouddrop</a> - <icon:warning ls_size="text" aria-hidden="true" color="var(--ls_theme_warning_color)" /> Beware, this song contains sensitive elements including self-harm and suicidal ideation.</li>
									<li><a href="https://jamiepaige.bandcamp.com/track/my-darling-my-companion-2">My Darling, My Companion</a></li>
									<li><a href="https://jamiepaige.bandcamp.com/track/machine-love-2">Machine Love</a></li>
								</ul>
							</li>
							<li><a href="https://www.youtube.com/watch?v=1xBkY1D2Z1Q">Man in the Mirror</a> by R.I.P</li>
							<li><a href="https://www.youtube.com/watch?v=uRlzsTlM3gc">Personhood</a> by Carbon Monoxide</li>
							<li><a href="https://www.youtube.com/watch?v=OoSvQGjvxu0">System Error</a> by ivycomb & Moka</a></li>
							<li><a href="https://www.youtube.com/watch?v=-TqGiS4E610">Voices In My Head</a> by NIJUUGO*A</li>
						</ul>
					</section>
				</div>
			</div>
		</main>

		<app_footer class="ls_sidenav_neighbor" />
	</body>
</html>
